{% extends 'base.html' %}

{% block title %}Новости{% endblock %}

{% block content %}
<h2 class="mb-4">Новости</h2>

<div class="row">
    {% for article in news %}
        <div class="col-md-4 mb-3">
            <div class="card h-100 shadow-sm">
                {% if article.image %}
                    <img src="{{ article.image.url }}" class="card-img-top">
                {% endif %}

                <div class="card-body">
                    <h5>{{ article.title }}</h5>
                    <p>{{ article.short_description }}</p>
                    <a href="{% url 'news_detail' article.pk %}" class="btn btn-dark">
                        Читать далее
                    </a>
                </div>
            </div>
        </div>
    {% empty %}
        <p>Новостей пока нет.</p>
    {% endfor %}
</div>
{% endblock %}